# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo
Meowth/.vs/Meowth/CopilotIndices/17.14.995.13737/CodeChunks.db-shm
Meowth/.vs/Meowth/CopilotIndices/17.14.995.13737/CodeChunks.db-wal
Meowth/.vs/Meowth/CopilotIndices/17.14.995.13737/SemanticSymbols.db-shm
Meowth/.vs/Meowth/CopilotIndices/17.14.995.13737/SemanticSymbols.db-wal
Meowth/.vs/Meowth/FileContentIndex/78b83079-d837-4799-af24-39dfee5eeabd.vsidx
Meowth/.vs/Meowth/FileContentIndex/78b83079-d837-4799-af24-39dfee5eeabd.vsidx
Meowth/.vs/Meowth/FileContentIndex/78b83079-d837-4799-af24-39dfee5eeabd.vsidx
Meowth/.vs/Meowth/FileContentIndex/974ea48f-b0b1-4a48-aca5-346dfa9a2397.vsidx
Meowth/.vs/Meowth/v17/.suo
Meowth/.vs/Meowth/copilot-chat/b2d9c7fd/sessions/4b0207d0-bb54-42c1-ab89-026407eea750
Meowth/.vs/Meowth/CopilotIndices/17.14.995.13737/CodeChunks.db
Meowth/.vs/Meowth/CopilotIndices/17.14.995.13737/SemanticSymbols.db
Meowth/.vs/Meowth/CopilotIndices/17.14.995.13737/CodeChunks.db
Meowth/.vs/Meowth/CopilotIndices/17.14.995.13737/CodeChunks.db
*.db
*.db
*.vsidx
*.db
